<section id="homeJumbotron">
  <nav>
    <pb-logo></pb-logo>

    <ul>
      <li><a routerLink="signup">Sign Up</a></li>
      <li><a routerLink="login">Login</a></li>
    </ul>
  </nav>

  <!--<div id='headline'>-->
  <!--<h1 class="headline">Budgeting, Plain and Simple</h1>-->
  <!--<div class="subHeadline">-->
  <!--<div>The key element in financial stability is having your budget under control.</div>-->
  <!--<div>Join now to travel the road to financial freedom.</div>-->
  <!--</div>-->
  <!--<a ui-sref="signup">Join Now</a>-->
  <!--</div>-->
  <!--<span ng-repeat="glitter in vm.glitterArray">-->
  <!--<icon-background-->
  <!--plot-x="glitter.x"-->
  <!--plot-y="glitter.y"-->
  <!--plot-blur="glitter.blur"></icon-background>-->
  <!--</span>-->
</section>